/* Home Slider Swiper*/
.intro {
    .introContent {
    background-size: 100%;
    height: 600px;
    .caption {
        width: 100%;
        padding-top: 7rem;
        h1 {
            margin-bottom: 2rem;
            text-transform: uppercase;
        }
        h2 {
            font-size: 5rem;
        }
        p {
            font-size: 1.375rem
            }
        }
    }
    .statistics {
        margin-top: 2rem;
    }
}
.search {
    form {
        .first {            
            .form-group {
                width:96%;
                input {
                    width: 100%;
                    background-color: #f2f2f2;
                    height: 50px;
                }
            }
            button.btn-outline-dark {
                height: 50px;
            }
        }
    }
    .over {
        margin-top: 0rem;
        z-index: 99;
        position: relative;
    }
}
.search {
    input {
        &::-webkit-input-placeholder { /* Edge */
            font-size: 11px;
            font-weight: 500;
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-size: 11px;
            font-weight: 500;
          }
          
          &::placeholder {
            font-size: 11px;
            font-weight: 500;
          }

          transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        &:focus {
            background-color: $lightgray;
        }
    }
}
.developers, .cities {
    padding-top: 3rem !important;
    .owl-carousel {
    .item {
        background-color: white;
        padding: 20px;
        .image {
            span {
            position: absolute;
            right: 0;
            top: 40px;
            padding: 5px 20px 5px 10px;
            background: black;
            color: white;
            font-size: 0.875rem;
            }
        }
    .text-right {
        h3 {
            font-weight: 300;
            margin-top: 15px;
            span {
                font-size: 0.75rem;
                margin-right: 15px;
            }
        }
    }
    h4 {
        margin-top: 15px;
        a {
            color: black;
        }

    }
    .spacifications {
        span {
            font-size: 0.875rem;
            margin: 0 5px;
        }
    }
    }
    .owl-dots {
        margin-top: 2rem;
    }
    img {
        filter: grayscale(100%);
    }
    h4 {
        a {
            color: black;
        }
    }

    }
}


//
.developers-carousel {
    .developer {
        .image {
            span {
                background-color: $orange;
                color: white;
                font-size: 1rem;
                border-radius: 5px 5px 0 0;
                padding: 5px 10px;
                position: relative;
                bottom: 0;
                top: -27px;

            }
        }
        .owl-dots {
            margin-top: 2rem;
        }
    
    }
}


// newsletter


.newsletterBlock {
    padding: 80px 0;
    background: $gray;
  
    .content {
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 2;
  
      h2 {
        color: black;
      }
  
      .form-control {
        height: 50px;
        border-color: #ffffff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
  
      &.form-control:focus {
        box-shadow: none;
        border: 2px solid #243c4f;
      }
  
      .btn {
        min-height: 50px;
        border-radius: 0;
        background: white;
        border: 1px solid black;
        color: black;
        font-weight: 400;
        font-size: 1rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        }
    }
  }

  .innerBanner {
      height: 400px;
      .seprator::before {
          margin-bottom: -5px;
          height: 7px;
          background-color: white !important;
          width: 35%;
      }
  }
  .inner {
      .breadCrumb {
        top: -50px;
        position: relative;
        z-index: 99;
        display: inline-block;
        .active {
            color: white;
        }
        &.onslider {
            margin-top: -50px;
            top:-80px;
        }
      }
      .seprator {
          &::before {
            content: '';
            width: 15%;
            display: inline-block;
            margin: 30px auto 0;
            margin-bottom: -6px;
            height: 7px;
            background-color: black;
          }
      }
      .black-bg {
          .first {
            .form-control {
                background-color: #B2B2B2;
            }
            button.btn-outline-dark {
                background-color: white;
                border-color: white;
            }
          }
          .form-control {
              background-color: transparent;
              &:focus {
                  background-color: $lightgray;
              }
          }
      }
  }

  //

  .cities {
      .cities {
          .num {
              font-family:$sec-font-family;
              font-size: 5rem;
              line-height: 3rem;
              margin: 0;
              text-align: right;
              font-weight: 100;
          }
      }
      .cityCarousel {
          position: relative;
          h3 {
              font-weight: 300;
          }
          &::before {
              background-color: $gray;
              content:'';
              height: 50%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
          }
          .item {
              margin-top: 0rem;
          }
          .owl-nav .owl-next, .owl-nav .owl-prev {
              top: 55%;
          }
      }
  }

  //
  .results {
      .item {
        padding: 20px;
        span {
            position: absolute;
            right: 0;
            top: 40px;
            padding: 5px 20px 5px 10px;
            background: black;
            color: white;
            font-size: 0.875rem;
        }
        .image {
            &::after {
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(65,223,255,0) 100%);
                content: '';
                display: inline-block;
                width: 100%;
                height: 100px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        .row {
            .col-md-4 {
                margin-bottom: 0rem;
            }
        }
      }
      h3 {
          a {
              color: white;
          }
      }
      .col-md-4, .col-md-12 {
          margin-bottom: 1.5rem;
          p {
              font-size: 0.875rem;
              margin-bottom: 10px;
          }
          h5 {
              font-size: 1rem;
          }
      }
  }


  #accordion {
    margin: 50px 0;
  
    #faq .card {
      margin-bottom: 0;
      border: 0;      
      border-bottom: 1px #525252 solid;
      
  
    .card-header {
        border: 0;
        -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
        box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
        border-radius: 0;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    .btn-header-link {
          color: #fff;
          display: block;
          text-align: left;
          background: rgba(0,0,0,0.8);
          color: white;
          padding: 20px;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          &:after {
            content: "\f107";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            float: right;
          }
  
          &.collapsed {
            background: #000000;
            color: #fff;

  
            &:after {
              content: "\f106";
            }
          }
        }
        h5 {
        &::after {
                display: inline-block;
                content: "\f0dd";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.active {
            h5 {
                &::after {
                    content: "\f0de";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
      }
      .card-body {
          color: white;
      }
      .collapsing {
        background: rgba(0,0,0,0.8);
        line-height: 30px;
      }
  
      .collapse {
        border: 0;
  
        &.show {
          background: rgba(0,0,0,0.8);
          line-height: 30px;
          color: #222;
        }
      }
    }
  }
.accordion .card-header {
    h5 {
        button {
        &::after {
                display: inline-block;
                content: "▼";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
            }
        }
        }
        &.active {
            h5 {
                button {
                &::after {
                    content: "▲";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
            }
        }
}
.abouttextitems a.showMore::after {
    content: '+ Show more';
    color: black;
    display: inline-block;
}
.abouttextitems a.showMore.showLess::after {
    content: '- Show Less';
    color: black;
    display: inline-block;
}
.abouttextitems a.showMore {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.border-orange {
    padding: 10px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px $orange solid;
}

.title {
    h2 {
        span {
            font-size: 20px;
        }
    }
}
.download {
    span {
        color: #787878;
        &:last-child {
            font-size: 12px;
            margin-top: 10px;
            font-weight: 600;
        }
    }
}

.social a {
    color: white;;
    margin:0 10px 0 0;
    &:hover {
        color: $orange;
    }
}

.text-orange {
    color:$orange !important;
}

//@at-root

.inner {
    .caption {
        h1 {
            font-size: 3.312rem;
        }
    }
}

.tags {
    a {
        display: inline-block;
        width: 18%;
        background-color: #F2F2F2;
        color: black;
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        padding: 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-right: 1%;
        &:hover {
            background-color: rgb(182, 182, 182);
        }
    }   
}

.developerLogo {
    text-align: center;
    img {
        display: block;
        width: 100%;
    }
    .image span {
        background-color: #D35D29;
        color: white;
        font-size: 1rem;
        border-radius: 5px 5px 0 0;
        padding: 5px 10px;
        position: relative;
        bottom: 0;
        top: -27px;
    }
}

ul.content {
    li, h3, h5, p {color: white;;}
    h3, h5, h4 {font-weight: 700;}
    li {
        margin-top: 2rem;
    }
    p {
        font-weight: 300;
    }
}

.blackbg {
    p {
        color: white;
    }
}

.benfits {
    .col-md-2 {
        margin-bottom: 1rem;
    }
}


//acordion



// FAQ
.faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;    
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    
    .nav-link {
        position: relative;
        display: block;
        margin: 0;
        padding: 13px 16px;
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        color: #616161;
        transition: background-color .2s ease;
        
        &:hover {
            background-color: #f6f6f6;
        }
        
        &.active {
            background-color: #f6f6f6;
            font-weight: 700;
            color: rgba(0,0,0,.87);        
        }
        
        &:last-of-type {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom: 0;
        }
        
        i.mdi {
            margin-right: 5px;
            font-size: 18px;
            position: relative;
        }
    }
}

// TAB CONTENT
.tab-content {
    // box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    
    .card {
        border-radius: 0;
        background: black;
        border-bottom: 1px #B2B2B2 solid !important;
        padding: 15px;
    }
    
    .card-header {
        padding: 15px 16px;
        border-radius: 0;
        background-color: transparent;
        
        
        h5 {
            color: white;margin: 0;
            
            button {
                display: block;
                width: 100%;
                padding: 0;
                border: 0;
                font-weight: 700;
                color: white;
                text-align: left;
                white-space: normal;
                
                &:hover,
                &:focus,
                &:active,
                &:hover:active {
                    text-decoration: none;
                }
            }
        }
    }
    
    .card-body {
        p {
            color: white;
            
            &:last-of-type {
                margin: 0;
            }
        }
    }
}


// BORDER FIX
.accordion {
    > .card {
        &:not(:first-child) {
            border-top: 0;
        }   
    }
}

.collapse.show {
    .card-body {
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
}

.mapping {
    height: 450px;
    width: 100%;
}





/* =====================================================================================================================
  MARKER
 */

 .ts-marker-wrapper {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 2.75rem;
             transform-origin: 0 2.75rem;
    transition: .3s ease;
    /* background-image:url(../img/loader_backinout.gif); */
}

.ts-marker-wrapper.ts-hide-marker {
    -webkit-transform: scale(0);
            transform: scale(0);
}

.leaflet-div-icon {
    background-color: transparent;
    border: none;
}

.leaflet-marker-icon.ts-hide-marker .ts-marker {
    -webkit-transform: scale(0);
            transform: scale(0);
}

.ts-marker {
    display: inline-block;
    position: relative;
    padding-bottom: .5rem;
    transition: .6s cubic-bezier(.16, .64, .31, 1.68);
    -webkit-transform: translateY(0) rotate(.002deg);
            transform: translateY(0) rotate(.002deg);
}

.ts-marker:hover, .ts-marker.ts-hover {
    color: inherit;
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
    z-index: 1;
}

.ts-marker:hover .ts-marker__title, .ts-marker:hover .ts-marker__info,
.ts-marker.ts-hover .ts-marker__title, .ts-marker.ts-hover .ts-marker__info {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.ts-marker:hover .ts-marker__info, .ts-marker.ts-hover .ts-marker__info {
    transition-delay: .05s;
}

.ts-marker:hover:before, .ts-marker.ts-hover:before {
    -webkit-transform: translateY(.25rem) scaleX(.8);
            transform: translateY(.25rem) scaleX(.8);
    opacity: .2;
}

.ts-marker:after {
    border-color: #191919 transparent transparent transparent;
    border-width: .375rem .375rem 0 0;
    border-style: solid;
    bottom: .1875rem;
    content: "";
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.ts-marker:before {
    content: url("../img/marker-shadow.png");
    bottom: -0.375rem;
    left: -0.0625rem;
    position: absolute;
    opacity: .8;
    transition: .6s cubic-bezier(.16, .64, .31, 1.68);
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
    -webkit-transform-origin: left;
             transform-origin: left;
}

.ts-marker .ts-marker__title, .ts-marker .ts-marker__info:nth-child(0).rent-info{
    display: none;
}

.ts-marker .ts-marker__title, .ts-marker .ts-marker__info {
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    position: absolute;
    font-size: .6875rem;
    font-weight: 500;
    left: .25rem;
    white-space: nowrap;
    border-radius: .0625rem;
    pointer-events: none;
    padding: .0625rem .25rem;
    transition: .5s cubic-bezier(.03, .18, .05, 1.01);
    -webkit-transform: translateX(.25rem);
            transform: translateX(.25rem);
    opacity: 0;
}


.ts-marker .ts-marker__image {
    background-size: cover;
    background-position: 50% 50%;
    border-radius: .125rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .3);
    height: 4.625rem;
    width: 4.625rem;
    /* height: 2.625rem;
    width: 2.625rem; */
    position: relative;
    /* background-image:url(../img/6nv1.gif);
    background-size: cover;
    background-position: center; */
}

.ts-marker .ts-marker__image:before {
    border-bottom-right-radius: .125rem;
}

.ts-marker-hide {
    opacity: .2;
}






/* ====================================================================================================================
  VERTICAL Results
 */

 .ts-results__vertical {
    position: relative;
    height: 100% !important;
}

/* .scrollbar-inner {
    overflow-y: scroll;
} */

#test .form-group{
    margin-top: 0;
}
.ts-results__vertical > .scroll-content {
    overflow-x: hidden !important;
}
.ts-results-wrapper{overflow-y: scroll;}

.scrollbar-inner:hover > .scroll-element {
    opacity: 1;
}

.scrollbar-inner > .scroll-element {
    opacity: 0;
    transition: .3s ease;
}

.scrollbar-inner > .scroll-element.scroll-y {
    height: calc(100% - 1rem);
    top: .5rem;
    width: .25rem;
    right: .375rem;
}

/* ====================================================================================================================
  GRID Results
 */

 #ts-map-hero {
    height: 500px !important;
    width: 100%;
 }

.ts-results__grid.scroll-wrapper {
    position: absolute !important;
    -webkit-transform: translateX(calc(100% - 3rem));
            transform: translateX(calc(100% - 3rem));
    transition: .4s transform ease;
}

.ts-results__grid.scroll-wrapper .scrollbar-inner {
    padding-right: 4rem;
}

.ts-results__grid.scroll-wrapper.ts-expanded {
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
}

.ts-results__grid.scroll-wrapper.ts-expanded .ts-result {
    pointer-events: auto;
}

.ts-results__grid .ts-results-wrapper {
    padding: 1rem;
    padding-bottom: 50px;
}

.ts-results__grid .ts-form__grid {
    padding: 1rem;
}

.ts-results__grid .ts-sly-frame {
    position: absolute;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.ts-results__grid .ts-results-wrapper{
    background: #f8f8f8;
}

#ts-results .ts-card {
    box-shadow: 0 0.3125rem 1.5625rem rgba(0, 0, 0, .05);
  
}



/*-------------------------------------------
  -- Map
-------------------------------------------*/

.ts-map {
    position: relative;
}

.ts-map a[href^="http://maps.google.com/maps"] {
    display: none !important;
}

.ts-map a[href^="https://maps.google.com/maps"] {
    display: none !important;
}

.ts-map .gmnoprint a, .ts-map .gmnoprint span, .ts-map .gm-style-cc {
    display: none;
}

.ts-map .cluster > div, .ts-map .marker-cluster > div {
    background-color: #00a4be;
    box-shadow: inset 0 0 0 .375rem rgba(255, 255, 255, .3),
                0 .1875rem .9375rem rgba(0, 0, 0, .15);
    border-radius: 50%;
    color: #fff !important;
    text-align: center;
    transition: .3s ease;
}

.ts-map .cluster > div:hover, .ts-map .cluster > div.ts-hover,
.ts-map .marker-cluster > div:hover, .ts-map .marker-cluster > div.ts-hover {
    box-shadow: inset 0 0 0 .375rem rgba(255, 255, 255, .3),
                0 .3125rem 1.5625rem rgba(0, 0, 0, .5);
}

.ts-map .marker-cluster > div {
    line-height: 3rem;
    height: 3rem !important;
    width: 3rem !important;
}

.ts-map .gm-style-mtc > div {
    font-size: .75rem !important;
    height: 2rem !important;
    padding: 0 .75rem !important;
}

.ts-map__detail {
    height: 18rem;
}

.ts-contact-map {
    height: 25rem;
}

.ts-sidebar-map {
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    height: 18rem;
}

/* =====================================================================================================================
  MARKER
 */

.ts-marker-wrapper {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 2.75rem;
             transform-origin: 0 2.75rem;
    transition: .3s ease;
    /* background-image:url(../img/loader_backinout.gif); */
}

.ts-marker-wrapper.ts-hide-marker {
    -webkit-transform: scale(0);
            transform: scale(0);
}

.leaflet-div-icon {
    background-color: transparent;
    border: none;
}

.leaflet-marker-icon.ts-hide-marker .ts-marker {
    -webkit-transform: scale(0);
            transform: scale(0);
}

.ts-marker {
    display: inline-block;
    position: relative;
    padding-bottom: .5rem;
    transition: .6s cubic-bezier(.16, .64, .31, 1.68);
    -webkit-transform: translateY(0) rotate(.002deg);
            transform: translateY(0) rotate(.002deg);
}

.ts-marker:hover, .ts-marker.ts-hover {
    color: inherit;
    -webkit-transform: translateY(-0.25rem);
            transform: translateY(-0.25rem);
    z-index: 1;
}

.ts-marker:hover .ts-marker__title, .ts-marker:hover .ts-marker__info,
.ts-marker.ts-hover .ts-marker__title, .ts-marker.ts-hover .ts-marker__info {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.ts-marker:hover .ts-marker__info, .ts-marker.ts-hover .ts-marker__info {
    transition-delay: .05s;
}

.ts-marker:hover:before, .ts-marker.ts-hover:before {
    -webkit-transform: translateY(.25rem) scaleX(.8);
            transform: translateY(.25rem) scaleX(.8);
    opacity: .2;
}

.ts-marker:after {
    border-color: #191919 transparent transparent transparent;
    border-width: .375rem .375rem 0 0;
    border-style: solid;
    bottom: .1875rem;
    content: "";
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.ts-marker:before {
    content: url("../img/marker-shadow.png");
    bottom: -0.375rem;
    left: -0.0625rem;
    position: absolute;
    opacity: .8;
    transition: .6s cubic-bezier(.16, .64, .31, 1.68);
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
    -webkit-transform-origin: left;
             transform-origin: left;
}

.ts-marker .ts-marker__title, .ts-marker .ts-marker__info:nth-child(0).rent-info{
    display: none;
}

.ts-marker .ts-marker__title, .ts-marker .ts-marker__info {
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    position: absolute;
    font-size: .6875rem;
    font-weight: 500;
    left: .25rem;
    white-space: nowrap;
    border-radius: .0625rem;
    pointer-events: none;
    padding: .0625rem .25rem;
    transition: .5s cubic-bezier(.03, .18, .05, 1.01);
    -webkit-transform: translateX(.25rem);
            transform: translateX(.25rem);
    opacity: 0;
}

.center-block{
    margin: 0 auto;
    display: block;
}

.enquire-form{
    padding: 30px
}

.ts-marker .ts-marker__title {
    background-color: #fff;
    top: .25rem;
    z-index: 2;
}

.ts-marker .ts-marker__info {
    background-color: #ff4800;
    color: #fff;
    top: 1.25rem;
    z-index: 1;
}

.ts-marker .ts-marker__feature {
    top: -0.625rem;
    left: -0.625rem;
    position: absolute;
    z-index: 3;
}

.ts-marker .ts-marker__feature > * {
    background-color: #00a4be;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    border-radius: 50%;
    color: #fff;
    font-size: .5rem;
    width: 1.375rem;
    text-align: center;
    height: 1.375rem;
    line-height: 1.375rem;
}

.hij-title h1 small {
    display: block;
    margin-bottom: 10px;
}

.hij-title > img{
    float: left;
    margin-right: 20px;background: #FFF;
}

.ts-marker .ts-marker__image {
    background-size: cover;
    background-position: 50% 50%;
    border-radius: .125rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .3);
    height: 4.625rem;
    width: 4.625rem;
    /* height: 2.625rem;
    width: 2.625rem; */
    position: relative;
    /* background-image:url(../img/6nv1.gif);
    background-size: cover;
    background-position: center; */
}

.ts-marker .ts-marker__image:before {
    border-bottom-right-radius: .125rem;
}

.ts-marker-hide {
    opacity: .2;
}

/* =====================================================================================================================
  INFOBOX
 */

.infobox-wrapper {
    transition: .3s transform cubic-bezier(.51, .31, .28, 1.16);
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: bottom left;
             transform-origin: bottom left;
}

.infobox-wrapper > img {
    display: none;
}

.infobox-wrapper.ts-show {
    -webkit-transform: scale(1);
            transform: scale(1);
}

.infobox-wrapper.ts-show .ts-infobox .ts-close {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
    transition-delay: .15s;
}

.infobox-wrapper.ts-show .ts-infobox .ts-close:hover {
    transition-delay: 0s;
    opacity: 1;
}

.leaflet-popup {
    margin-bottom: 0;
}

.leaflet-popup .leaflet-popup-content-wrapper {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
}

.leaflet-popup .leaflet-popup-tip-container {
    display: none;
}

.ts-infobox {
    display: inline-block;
    position: relative;
    margin-left: 21px;
}

.ts-infobox:after {
    border-color: #191919 transparent transparent transparent;
    border-width: .5rem .5rem 0 0;
    border-style: solid;
    bottom: -0.375rem;
    content: "";
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.ts-infobox .ts-ribbon {
    right: 1.5rem;
}

.ts-infobox .ts-ribbon-corner:before {
    left: 1.5625rem;
}

.ts-infobox .ts-ribbon-corner:after {
    bottom: 1.5625rem;
}

.ts-infobox .badge {
    position: absolute;
    top: .75rem;
    left: .75rem;
    z-index: 1;
}

.ts-infobox .ts-infobox__wrapper {
    align-items: flex-end;
    color: #fff;
    display: flex;
    border-radius: .25rem;
    box-shadow: 0 .5rem 4rem rgba(0, 0, 0, .5);
    height: 14rem;
    overflow: hidden;
    width: 15rem;
    padding: .75rem;
    position: relative;
    z-index: 1;
}

.ts-infobox .ts-infobox__wrapper:before {
    height: 70%;
    z-index: 1;
}

.ts-infobox .ts-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    z-index: 3;
    -webkit-filter: drop-shadow(0 .1875rem .125rem rgba(0, 0, 0, .2));
            filter: drop-shadow(0 .1875rem .125rem rgba(0, 0, 0, .2));
    cursor: pointer;
    transition: .3s ease;
    -webkit-transform: scale(0) rotate(180deg);
            transform: scale(0) rotate(180deg);
    opacity: .7;
}

.ts-infobox .ts-infobox_image {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background-position: center;
    
}

.ts-infobox .ts-infobox__content {
    z-index: 1;
    width: 100%;
}

.ts-infobox .ts-item__info {
    margin-bottom: .5rem;
}

.ts-infobox .ts-item__info h4 {
    text-shadow: 0 .125rem .1875rem rgba(25, 25, 25, .8);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.375rem;
}

.ts-infobox .ts-item__info aside {
    font-size: .75rem;
    opacity: .7;
}

.ts-infobox .ts-item__info-badge {
    display: inline-block;
    background-color: #ff4800;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    border-radius: .1875rem;
    font-weight: 500;
    font-size: .6875rem;
    margin-bottom: .25rem;
    padding: .25rem .375rem;
}

.ts-infobox .ts-description-lists {
    border-top: .0625rem solid rgba(255, 255, 255, .4);
    padding-top: .5rem;
}

.ts-infobox .ts-description-lists dl {
    margin-bottom: 0;
    margin-right: .5rem;
}

.ts-infobox .ts-description-lists dt {
    font-size: .6875rem;
    opacity: .5;
}

.ts-infobox .ts-description-lists dd {
    font-size: .6875rem;
    margin-bottom: 0;
}

.H_ui * {
    box-sizing: border-box;
}

.H_ib_tail {
    display: none;
}

.H_ib_body {
    background-color: transparent;
    padding: 0;
}

.H_ib_body .H_ib_close {
    display: none;
}

.H_ib_body .H_ib_content {
    margin: 0;
}

.H_ib_body .infobox-wrapper {
    bottom: 0;
    left: 6.25rem;
    position: absolute;
}

.here-map-marker .ts-marker-wrapper {
    margin-top: -3rem;
    position: relative;
}

@-webkit-keyframes ts-dimIn {
    0% {
        width: 0;
    }

    1% {
        width: 100%;
    }

    5% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@keyframes ts-dimIn {
    0% {
        width: 0;
    }

    1% {
        width: 100%;
    }

    5% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@-webkit-keyframes ts-dimOut {
    0% {
        opacity: .6;
    }

    95% {
        opacity: 0;
    }

    99% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes ts-dimOut {
    0% {
        opacity: .6;
    }

    95% {
        opacity: 0;
    }

    99% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

#ts-map-hero {
    transition: .3s ease;
}

#ts-map-hero.leaflet-container:after {
    z-index: 401;
}

#ts-map-hero:after {
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
    -webkit-animation-name: ts-dimOut;
            animation-name: ts-dimOut;
    background-color: black;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: opacity .4s ease;
    opacity: 0;
}

#ts-map-hero.ts-dim-map:after {
    -webkit-animation-name: ts-dimIn;
            animation-name: ts-dimIn;
    /*opacity: .6;
      height: 100%;
      width: 100%;*/
}



.ts-black-gradient:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    bottom: 0;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    width: 100%;
}

.ts-infobox .ts-infobox__wrapper {
    align-items: flex-end;
    color: #fff;
    display: flex;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 50%);
    height: 14rem;
    overflow: hidden;
    width: 15rem;
    padding: .75rem;
    position: relative;
    z-index: 1;
}
.ts-black-gradient:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    bottom: 0;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    width: 100%;
}
.ts-black-gradient:after {
    content: '';
    height: 100%;
    width: 100%;
    background-image: url(../img/loader_backinout.gif);
    position: absolute;
    background-size: 250%;
    background-position: center;
    z-index: -2;
}